<% if @movies.empty? %>
  <div class="alert alert-info">
    <p>There are no movies.</p>
  </div>
  </div>
<% else %>
  <% @movies.each do |movie| %>
    <%= render movie %>
  <% end %>

  <%== pagy_bootstrap_nav(@pagy) %>

<% end %>
